{% extends parent_template|default:"base.html" %}
{% block content %}
{% load static %}
<div>
  <div class = "row">
    <h1>Create Announcement</h1>
  </div>
  <div class = "row indented-content">
    <p>
      <b>{{ event.date }}</b>
      <br> {{ event.start_time }} to {{ event.end_time }}
      <br>
      <br>{% if event.series %}{{ event.series }}:{% endif %}{% if event.title %}{{ event.title }}{% endif %}
      <br> {{ event.location }} <a href={{ event.yelp_link }}>Yelp Link</a>
      <br> {{ event.address }}
      <br>
      <br> {{ event.announcements }}
    </p>
  </div>
  {% if announcements %}
  <div class = "row">
      Reminders Previously Posted:
  </div>

  <div class = "row indented-content">
    <table>
    <tr>
      <th>Time</th>
      <th>Channel</th>
    </tr>
    {% for announcement in announcements %}
    <tr>
      <td>{{ announcement.time }}</td>
      <td>{{ announcement.channel }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}

  <div class = "row">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
  </form>
  </div>
</div>
  {% block footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}
  {% endblock %}
  {% endblock %}