{% extends parent_template|default:"events/event_list.html" %}
{% block events %}
      {% for event in events_yes %}
        <a href="{% url 'event_detail' pk=event.pk%}">
            {% if event.series.title %}
              {{ event.series.title }}<br>
            {% endif %}
            {% if event.title %}
              {{ event.title}}<br>
            {% endif %}
            {% if event.created_by %}
              with {{ event.created_by }}<br>
            {% endif %}
          </a>
          {{ event.date }} from {{ event.start_time }} to {{ event.end_time }}<br>
          {% if event.description %}
          {{ event.description}}<br>
          {% endif %}
          {% if request.user == event.created_by or request.user == event.cohost %}
          <a href="{% url 'slack_announcement' pk=event.pk%}">Announce</a>
          <a href="{% url 'event_update' pk=event.pk%}">Edit</a>
          <a href="{% url 'event_delete' pk=event.pk%}">Delete</a><br>
          {% endif %}
      ~~~~~~~~~~~~<br>
      {% endfor %}
{% endblock %}
