{% extends parent_template|default:"base.html" %}
{% block title %}
Delete Event
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ event.get_delete_url }}"
          method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          the event {{ event.series.title }} {{ event.name }} on {{ event.date }} at {{ event.start_time }}?
        </p>
        <a href="{{ event.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Event</button>
      </form>
    </div>
  </div>
{% endblock %}