{% extends parent_template|default:"base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static '/jquery.timepicker.css' %}">
{% endblock %}
  <div>
      <div class = "row">
      <h1>Add/Edit Event</h1>
    </div>
      <form action="" method="post">
      {% csrf_token %}
      <div class="indented-content">
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.series.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">
          {{ form.series }}  
          <a href="{% url 'series_create' %}">
            <button type="button" class="btn btn-primary btn-sm">Add New Series</button>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.title.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.title }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.cohost.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.cohost }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.description.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.description }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.date.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.date }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.start_time.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">
        {{ form.start_time }}
        {{ form.end_time.label }}
        {{ form.end_time }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.location.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.location }}</div>
      </div> 
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element"></div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.business }} This is a business/restaurant/landmark</div>
      </div> 
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.address.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.address }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.city.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.city }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.state.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.state }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.zip_code.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{form.zip_code }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.yelp_link.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.yelp_link }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ form.google_plus_link.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ form.google_plus_link }}</div>
      </div>
          <input type="submit">
      </form>
    </div>
  </div>
  {% block footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static '/jquery.timepicker.js' %}"></script>
  <script type="text/javascript" src="{% static '/form_widgets.js' %}"></script>
  {{ form.media }}
  {% endblock %}
{% endblock %}