{% extends parent_template|default:"base.html" %}
{% block content %}
<form action="" method="post">
<div class="indented-content">
  <div class="row">
      <h1>{% if event.series.title %}{{ event.series.title }}: {% endif %}{{ event.title }}</h1>
      with {{ event.created_by }}
      {% if event.cohost %}
          and {{ event.cohost }}
      {% endif %}
      {% if request.user == event.created_by or request.user == event.cohost %}
        <br><a href="{% url 'slack_announcement' pk=event.pk%}">Announce</a>
        <a href="{% url 'event_update' pk=event.pk%}">Edit</a>
        <a href="{% url 'event_delete' pk=event.pk%}">Delete</a>
      {% endif %}
    </div>
  <div class="row">
    <div class="indented-content"><h4>
      {% if event.date %}<br>{{ event.date|date:"l" }} {{ event.date }}{% endif %}
      {% if event.start_time %}<br>{{ event.start_time }}{% endif %}
      {% if event.end_time %} to {{ event.end_time }}{% endif %}</h4>
      {% if event.description %}{{ event.description }}<br>{% endif %}
      {% if event.series.description %}<br>{{event.series.description}}<br>{% endif %}
    </div>
  </div>
    <div class="row">
      <h2>Location</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 indented-content" id="rsvp-buttons">
        {% if event.location %}<br><h4>{{ event.location }}</h4>{% endif %}
        {% if event.yelp_link %}<a href={{ event.yelp_link }}>Yelp Link</a><br>{% endif %}
        {% if event.address %}Address:<br>{{ event.address }}{% endif %}
        {% if event.city %}<br> {{ event.city }},{% endif %} 
        {% if event.state %}{{ event.state }}{% endif %}
        {{ event.zip_code }}
        <br>{{ event.google_plus_link }}
      </div>
      <div class="col-xs-12 col-md-6 indented-content" id="map">
        Map:<br>
        <iframe src={{ google_src }}>
        </iframe>
      </div>
    </div>
  <div class="row">
      <div class="col-xs-12 col-md-4" id="rsvp-buttons">
      <div class="col-header">
        <h2>Are You Coming?</h2>
      </div>
      <div class="indented-content">
      <a href="{% url 'rsvp_yes' pk=event.pk%}">
        <button type="button" class="btn btn-primary rsvp-button">YES</button>
      </a><br><br>
      <a href="{% url 'rsvp_maybe' pk=event.pk%}">
        <button type="button" class="btn btn-primary rsvp-button">MAYBE</button>
      </a><br><br>
      <a href="{% url 'rsvp_no' pk=event.pk%}">
        <button type="button" class="btn btn-primary rsvp-button">NO</button>
      </a>
      </div>
      </div>
      <div class="col-xs-12 col-md-8" id="rsvp-details">
      <div class="col-header">
        <h2>RSVPs</h2>
      </div>
      <div class="indented-content">
      Yes
      {% for key, value in event.rsvp_yes.iteritems %}
        <div>
        <img src={{ value.avatar }} class="rsvp-pic">
        </div>
      {% endfor %}
      <br>Maybe
      {% for key, value in event.rsvp_maybe.iteritems %}
        <div>
        <img src={{ value.avatar }} class="rsvp-pic">
        </div>
      {% endfor %}
      <br> No<br>
      {% for key, value in event.rsvp_no.iteritems %}
        <div>
        <img src={{ value.avatar}} class="rsvp-pic">
        </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}