{% extends parent_template|default:"base.html" %}
{% block content %}
<div>
  <h1>Events</h1>
  <a href="{% url 'upcoming_events' %}">
    <button type="button" class="btn btn-primary">Upcoming Events</button>
  </a>
  <a href="{% url 'user_events' %}">
    <button type="button" class="btn btn-primary">My Events</button>
  </a>
  <a href="{% url 'attending_events' %}">
    <button type="button" class="btn btn-primary">Attending</button>
  </a>
  <a href="{% url 'all_events' %}">
    <button type="button" class="btn btn-primary">All Events</button>
  </a>
  <a href="{% url 'event_create' %}" id="new_event_btn">
    <button type="button" class="btn btn-primary rsvp-button">New Event</button>
  </a>
</div>
{% block events %}
{% endblock %}
<div id="body-list">
      {% for event in event_list %}
          <a href="{% url 'event_detail' pk=event.pk%}">
            {% if event.series.title %}
              {{ event.series.title }}<br>
            {% endif %}
            {% if event.title %}
              {{ event.title}}<br>
            {% endif %}
            {% if event.created_by %}
              with {{ event.created_by }}<br>
            {% endif %}
          </a>
          {{ event.date }} from {{ event.start_time }} to {{ event.end_time }}<br>
          {% if event.description %}
          {{ event.description}}<br>
          {% endif %}
          {% if request.user == event.created_by or request.user == event.cohost %}
          <a href="{% url 'slack_announcement' pk=event.pk%}">Announce</a>
          <a href="{% url 'event_update' pk=event.pk%}">Edit</a>
          <a href="{% url 'event_delete' pk=event.pk%}">Delete</a><br>
          {% endif %}
      ~~~~~~~~~~~~<br>
      {% endfor %}
</div>
{% endblock %}