{% extends parent_template|default:"base.html" %}
{% block content %}
<h1>Add/Edit Series</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="row">
        <div class="col-xs-12 col-md-1 form-element">{{ field.label }}</div>
        <div class="col-xs-12 col-md-11 form-element">{{ field }}
        </div>
      </div>
    {% endfor %}
    <input type="submit">
</form>
{% endblock %}