{% extends parent_template|default:"base.html" %}
{% block title %}
Delete Series
{% endblock %}

{% block content %}
  <div>
    <div>
      <form
          action="{{ series.get_delete_url }}"
          method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          the entire event series {{ series.title }}?
        </p>
        <a href="{{ series.get_absolute_url }}">
          Cancel</a>
        <button type="submit">Delete Series</button>
      </form>
    </div>
  </div>
{% endblock %}