{% extends parent_template|default:"base.html" %}
{% block content %}
<h1>Event Series</h1>

<ul>
    {% for event in series_list %}
    <li>{{ event.title }}: {{ event.description }} 
        <a href="{% url 'series_update' pk=event.pk%}">Edit</a>
        <a href="{% url 'series_delete' pk=event.pk%}">Delete</a>
    </li>
    {% endfor %}
</ul>

<a href="{% url "social:begin" "slack" %}">Slack</a>
<br>
<!-- <a href="{% url "social:begin" "twitter" %}">Twitter</a>
<br> -->
{{ request.user }}
<br>
{{ associated }}
<br>
{{ not_associated }}
<br>
{{ backends }}
<br>
{% endblock %}