div {
    font-family: 'Quicksand', sans-serif;    
}

h1 {
    font-family: 'Catamaran', sans-serif;
}
h2 {
    font-family: 'Catamaran', sans-serif;
}
h3 {
    font-family: 'Catamaran', sans-serif;
}
h4 {
    margin-top: 0px;
}
p{
    font-family: 'Quicksand', sans-serif;
}
th {
    padding-right: 2px;
    padding-left: 2px;
}
td {
    padding-right: 2px;
    padding-left: 2px;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.btn {
   background-color:#000000;
}
.form-element {
    padding: 3px
}
.indented-content{
    padding-left: 5%;
}
.left-col {
    padding: 20px;
    text-align: center
}
.right-col {
    padding: 20px;
    text-align: left;
}
.rsvp-pic{
    margin: 1px;
}
#body-list {
    padding-top: 5px;
    padding-left: 5%
}

#home-buttons {
    text-align: center
}
#image_landing_page {
    width: 250px;
    padding: 20px
}
#new_event_btn {
    padding-left: 75px
    }

/*ui-datepicker: The outer container of the datepicker. If the datepicker is inline, this element will additionally have a ui-datepicker-inline class. If the isRTL option is set, this element will additionally have a class of ui-datepicker-rtl.
ui-datepicker-header: The container for the datepicker's header.
ui-datepicker-prev: The control used to select previous months.
ui-datepicker-next: The control used to select subsequent months.
ui-datepicker-title: The container for the datepicker's title containing the month and year.
ui-datepicker-month: The textual display of the month or a <select> element if the changeMonth option is set.
ui-datepicker-year: The textual display of the year or a <select> element if the changeYear option is set.
ui-datepicker-calendar: The table that contains the calendar itself.
ui-datepicker-week-end: Cells containing weekend days.
ui-datepicker-other-month: Cells containing days that occur in a month other than the currently selected month.
ui-datepicker-unselectable: Cells containing days that are not selectable by the user.
ui-datepicker-current-day: The cell containing the selected day.
ui-datepicker-today: The cell containing today's date.
ui-datepicker-buttonpane: The buttonpane that is used when the showButtonPanel option is set.
ui-datepicker-current: The button used to select today's date.*/

/*font-family: 'Just Another Hand', cursive;
font-family: 'Catamaran', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rokkitt', serif;*/