{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      Cat Herder
      {% endblock %}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="296354520052-2qfle6fkdkf5tfq8f71pfbop7s1b64s5.apps.googleusercontent.com">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Catamaran:800|Just+Another+Hand|Quicksand|Rokkitt:300" rel="stylesheet">
      <link href="/static/catherder.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>
  {% if user.is_authenticated %}
  <body>
  <div class="container">
    <header class="row">
    </header>
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static '/catsheep.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <br>
      <p>
        &copy; 2017
      </p>
    </footer>
  </div>
  </body>
  {% else %}
  <body>
    <div class="container">
    <main>
      <div class="row">
        <div class="col-xs-12 col-md-6 left-col">
          <div>
            <h1>Cat Herder</h1>
            <p>RSVP and event management for Slack teams.</p>
          </div>
          <div id="login_with_slack">
            <a href="{% url "social:begin" "slack" %}">
            <img src="https://api.slack.com/img/sign_in_with_slack.png" >
          </a>
        </div>
        </div>
        <div class="col-xs-12 col-md-6 right-col">
          <img id="image_landing_page" src="{% static '/catsheep.jpg' %}">
        </div>
      </div>
    </main>
      <footer>
        <br>
        <p>
          &copy; 2017
        </p>
      </footer>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
  {% endif %}
</html>